.profil-page {
  margin: 120px auto 0;
  max-width: 1200px;

  .log-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70% 30%;
    box-shadow: rgba(0, 0, 0, 0.844);
  }

  .img-container {
    display: grid;
    align-items: center;
    height: 100%;
  
    img {
      height: 280px;
  }
  }
  
  .connection-form {
    min-width: 490px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    box-shadow: $shadow;
    
    .form-container {
      display: grid;
      grid-template-columns: 30% 70%;

      ul {
        li {
          cursor: pointer;
          padding: 10px 20px;
          transition: 0.2s;
        }
        .active-btn {
          background: rgb(212, 212, 212);

          &:hover {
            background: rgb(143, 143, 143);
          }
        }
        li:not(.active-btn) {
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      form {
        input {
          color: $color-3;
          padding: 10px 20px;
          background-color: transparent;
          border: 1px solid $color-3;
          margin: 0;
          font-size: 1.2rem;
          font-family: $font-2;
          box-shadow: $shadow;
        }
      }
      
    }
  }
}