.card-container {
    display: grid;
    grid-template-columns: 80px 1fr;
    border: 2px solid $color-2;
    padding: 16px;
    border-radius: 20px 5px 20px 5px;
    margin: 8px auto;
    position: relative;
    min-height: 100px;

    .btn-container {
      display: flex;
      justify-content: center;

      div {
        position: relative;
        padding: 5px 9px;
        margin-left: 5px;
        transition: 0.1s;
        cursor: pointer;

        &:hover {
          transform: scale(1.07);
        }

        img {
          height: 20px;
          width: 20px;
        }
      }
    }

    .update-post {
      textarea {
        width: 100%;
        font-size: 1rem;
        border: 1px solid $color-2;
        padding: 10px;
        border-radius: 15px 5px 20px 5px;
      }
      .btn-container {
        .btn {
          margin-top: 3px;
          margin-bottom: 10px;
          border: none;
          background: $color-2;
          width: 200px;
          transform: translateY(-3px);
          transition: 0.2s ease-in-out;
    
          &:hover {
            background: $color-1;
          }
        }
      }
    }
  

    .card-left {
      img {
        height: 50px;
        width: 50px;
        border-radius: 20px 5px 20px 5px;
        box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
        object-fit: cover;
      }
    }

    li {
        text-align: cneter;
    }
  
    .fa-spinner {
      position: absolute;
      top: 40%;
      left: 49%;
      font-size: 1.5rem;
      color: $color-1;
    }
}
.comment-container.client {
  border: 1.5px dashed $color-2;
  border-radius: 15px 15px 15px 5px;
}
.comment-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  border: 1px solid $color-2;
  padding: 15px;
  margin: 5px 0;
  border-radius: 15px 5px 15px 5px;

  img {
    height: 40px;
    width: 40px;
    border-radius: 20px 5px 20px 5px;
    box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
    object-fit: cover;
  }
  .comment-header {
    display: flex;
    justify-content: space-between;

    .pseudo {
      display: flex;

      h3 {
        font-family: $font-1;
      }
      span {
        transform: translate(6px, 4px);
        cursor: pointer;

        img {
          box-shadow: none;
          height: 15px;
          width: 15px;
        }
      }
    }

  }
  span {
    font-size: 0.8rem;
    font-style: italic;
    font-family: $font-1;
  }
  p {
    margin-top: 8px;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  min-height: 35px;

span {
  font-style: italic;
  font-size: 0.8rem;
  font-family: $font-1;

}
}

.comment-form {
  margin-top: 6px;

  input[type="text"] {
    border: 1px solid $color-2;
    width: 100%;
    border-radius: 5px 15px 15px 15px;
    padding: 20px;
    font-size: 1rem;

    &:focus {
      box-shadow: 0 0 2px rgba(51, 51, 51, 0.5);
      border: 1px solid $color-1;
    }

  }
  input[type="submit"] {
    border: none;
    margin-top: 4px;
    padding: 10px 16px;
    width: 200px;
    background: $color-2;
    border-radius: 5px 5px 20px 20px;
    transition: 0.2s ease-in-out;
    float: right;

    &:hover {
      transform: scale(1.02);
      background: $color-1;
    }
  }
  button {
    background: $color-1;
    transition: 0.2s;

    &:hover {
      background: $color-2;
    }
  }
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 12px 50px 0 0;

  img {
    fill: red;
    height: 22px;
    width: 22px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
  .comment-icon,
  .like-container {
    display: flex;
    align-items: center;

    span {
      font-size: 1rem;
      position: absolute;
      margin-left: 30px;
    }
  }
}
